$text-color: #9EA3A8;
$numbers-color: #333339;
$background-color: #EEF6FB;

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: $background-color;
}

.Container {
  width: 50%;
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
}

.Tabs {
  display: flex;
  width: 100%;

  & > div:nth-child(1) {
    justify-content: right;
  }

  & > div:nth-child(2) {
    justify-content: center;
  }

  & > div:nth-child(3) {
    justify-content: left;
  }
}

.Tab {
  flex: 1;
  height: 110px;
  cursor: pointer;
  align-items: center;
  font-size: 36px;
  background-color: $background-color;
  display: flex;
  color: $text-color;

  &:focus-visible {
    border: #0074D9 solid 1px;
    outline: 0;
  }
}

.TabSelected {
  font-size: 36px;
  font-weight: bold;
  color: #61B1E8;
}

.current {
  width: 100%;
  height: 290px;
  border-width: 2px;
  border-style: solid;
  border-color: white;

  &_title {
    height: 110px;
    align-items: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: $text-color;
  }

  &_data {
    display: flex;
    justify-content: center;

    &_icon {
      width: 150px;
    }

    &_conditions {
      text-align: left;

      &_temp {
        font-size: 48px;
        color: $numbers-color;
      }
      &_text {
        font-size: 24px;
        color: $text-color;
      }
    }

  }
}

.forecast-container {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.forecast {
  flex: 1;
  height: 160px;
  border: 2px solid white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_day {
    color: $text-color;
  }

  &_temp {
    color: $numbers-color;
    font-weight: bold;
    font-size: 24px;
  }
}

.weather-data {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 0 lightgrey;
}
